<style>
  .center {
   text-align: center
  }
  body {
      background-image: url('../assets/images/maximberg.jpg');
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover; 
    }
  </style>
<!DOCTYPE html>

<html lang="{{ page.lang | default: site.lang | default: "en" }}">
   
  {%- include head.html -%}

  <body>
    
    {%- include header.html -%}
    
    <main class="page-content" aria-label="Content">
      <div class="header-col header-col-3" style="display: block; overflow: auto;">
        <p style="margin: 40px 5em 0% 5em; text-align: justify;">{{- site.description | escape -}}</p>
      </div>
      <div class="wrapper" style="margin-top: 90px;">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}
    <p class="center">Legal Notice | Privacy</p>
    <p class="center">Copyright © 2023 | Ekemini Stephen</p>

  </body>

</html>
